<script type="text/javascript">
var resource = '$resource';
var links = document.getElementsByTagName('head')[0].getElementsByTagName('link');
var found = false;
for (link in links)
{
    if (links[link].href != undefined && links[link].href.indexOf('$key') != -1)
    {
        found = true;
        break;
    }
}
if (found == false)
{
    var node = document.createElement('link');
    node.setAttribute('type', 'text/css');
    node.setAttribute('rel', 'stylesheet');
    node.setAttribute('href', resource);
    node.setAttribute('media', 'all');
    document.getElementsByTagName('head')[0].appendChild(node);
}
</script>
