.se-microcode_picasa-gallery-wrapper
{
    width: 168px;
    display:-moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    position: relative;
    margin: 0.2em;
    text-align: left;
    vertical-align: top;
    background-image: url(images/shadow.gif);
    background-repeat: no-repeat;
}

.se-microcode_picasa-gallery-cover
{
    padding-bottom: 0.5em;
}

.se-microcode_picasa-gallery-title
{
    text-align: left;
	color: gray;
	font-weight: bold;
}

.se-microcode_picasa-gallery-count
{
    text-align: left;
    color: gray;
    font-size: 80%;
}

.se-microcode_picasa-gallery-photo
{
    display:-moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    position: relative;
    margin: 0.4em;
    text-align: center;
    vertical-align: middle;
}

.se-microcode_picasa-gallery-photo img
{
    border: 1px solid gray;
}

.se-microcode_picasa-gallery-photo-full
{
    display: block;
    text-align: center;
}

.se-microcode_picasa-gallery-pagecount
{
    text-align: center;
}

.se-microcode_picasa-gallery-thumbnails
{
    display: block;
    text-align: center;
    margin: 0.1em;
}

.se-microcode_picasa-gallery-thumbnails img
{
    display: inline;
    vertical-align: middle;
}

.se-microcode_picasa-gallery-thumbnail-active img
{
    border: 2px solid black;
}

.se-microcode_picasa-gallery-excerpts-thumbnails
{
    display: block;
    margin: 0.1em;
}

.se-microcode_picasa-gallery-excerpts-thumbnails img
{
    display: inline;
    vertical-align: middle;
}
