#foreach ($post in $posts)
#if ($timestamp == true)
<$header>$post.timestamp: $!post.title</$header>
#else
<$header>$!post.title</$header>
#end
<p>$!post.content</p>
#if ($post.images.size() > 0)
<p>
#foreach ($image in $post.images)
<a href="$image.url"><img src="$image.thumb" width="$width"/>
#end
</p>
#end
#end
