#requireResource("se.microcode.confluence.plugin.googleservices-youtube:youtube-playlist-resources")
<div class="se-microcode_youtube-playlist-crumbs">
#if ($title)
<span><a href="${baseUrl}">$title</a></span>
#else
<span><a href="${baseUrl}">$action.getText("se.microcode.confluence.plugin.googleservices.youtube.name")</a></span>
#end
</div>
#set ($Integer = 0)
#if ($pageCount && $pageCount > 1)
<div class="se-microcode_youtube-playlist-pagecount">
#if ($currPage > 1)
#set ($prevPage = $currPage - 1)
<span><a href="${baseUrl}playlist=$playlist.id&amp;page=$prevPage">$action.getText("se.microcode.confluence.plugin.googleservices.previous")</a>&nbsp;</span>
#end
<span>$action.getText("se.microcode.confluence.plugin.googleservices.page", [$currPage,$pageCount])</span>
#if ($currPage < $pageCount)
#set ($nextPage = $currPage + 1)
<span>&nbsp;<a href="${baseUrl}playlist=$playlist.id&amp;page=$nextPage">$action.getText("se.microcode.confluence.plugin.googleservices.next")</a></span>
#end
</div>
#end
#foreach ($video in $videos)
<div class="se-microcode_youtube-playlist-video">
<a href="${baseUrl}playlist=$playlist.id&amp;video=$video.id"><img src="$video.image" title="$video.desc"/></a>
<div class="se-microcode_youtube-playlist-video-info-$thumbsize"><a href="${baseUrl}playlist=$playlist.id&amp;video=$video.id">$video.title</a></div>
</div>
#end
