#requireResource("se.microcode.confluence.plugin.googleservices:youtube-playlist-resources")
<div class="se-microcode_youtube-playlist-crumbs">
#if ($title)
<span><a href="${baseUrl}">$title</a></span>
#else
<span><a href="${baseUrl}">$action.getText("se.microcode.confluence.plugin.googleservices.youtube.name")</a></span>
#end
<span>&nbsp;&gt;&gt;&nbsp;</span>
<span><a href="${baseUrl}playlist=$playlist.id">$playlist.title</a></span>
</div>
#if ($pageCount > 1)
<div class="se-microcode_youtube-playlist-pagecount">
#if ($prev)
<span><a href="${baseUrl}playlist=$playlist.id&amp;video=$prev">$action.getText("se.microcode.confluence.plugin.googleservices.previous")</a>&nbsp;</span>
#end
<span>$action.getText("se.microcode.confluence.plugin.googleservices.youtube.video", [$currPage,$pageCount])</span>
#if ($next)
<span>&nbsp;<a href="${baseUrl}playlist=$playlist.id&amp;video=$next">$action.getText("se.microcode.confluence.plugin.googleservices.next")</a></span>
#end
</div>
#end

<div class="se-microcode_youtube-playlist-video-full">
<object width="640" height="385">
	<param name="movie" value="http://www.youtube.com/v/${video.id}&fs=1"></param>
	<param name="allowFullScreen" value="true"></param>
	<param name="allowscriptaccess" value="always"></param>
	<embed src="http://www.youtube.com/v/${video.id}&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed>
</object>
<div class="se-microcode_youtube-playlist-video-info-full">$action.getText("se.microcode.confluence.plugin.googleservices.youtube.desc", [$video.title, $video.credit])</div>
<div class="se-microcode_youtube-playlist-video-desc">$video.desc</div>
</div>

<div class="se-microcode_youtube-playlist-thumbnails">
#foreach ($thumbnail in $thumbnails)
#if ($thumbnail.id == $video.id)
<span class="se-microcode_youtube-playlist-thumbnail-active"><img src="$thumbnail.image" title="$thumbnail.title"/></span>
#else
<span><a href="${baseUrl}playlist=$playlist.id&amp;video=$thumbnail.id"><img src="$thumbnail.image" title="$thumbnail.title"/></a></span>
#end
#end
</div>
